# Python-Umgebungen und Cache
__pycache__/
*.pyc

# VSCode
.vscode/

# Trainingsdaten
data/images/
data/annotations_clean.csv
*.tar.gz
*.zip
data/pairs.csv
data/instances_train2022.json

# Modelle
models/
outputs/

# Sonstiges
.DS_Store
